In [1]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2011-1',freq = 'M')
m

Period('2011-01', 'M')

In [6]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [8]:
m + 1

Period('2011-02', 'M')

In [9]:
d = pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [10]:
d + 1

Period('2017-03-01', 'D')

In [11]:
d = pd.Period('2016-02-28',freq='D')
d

Period('2016-02-28', 'D')

In [12]:
d + 1

Period('2016-02-29', 'D')

In [13]:
h = pd.Period('2017-02-28  23:00:00',freq='H')
h

Period('2017-02-28 23:00', 'H')

In [14]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [15]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [16]:
h - 6

Period('2017-02-28 17:00', 'H')

In [17]:
h + pd.offsets.Hour(5)

Period('2017-03-01 04:00', 'H')

In [20]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [21]:
q + 1

Period('2017Q2', 'Q-DEC')

In [22]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [23]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [24]:
q.asfreq('M',how="start")

Period('2016-02', 'M')

In [25]:
q.asfreq('M',how="end")

Period('2016-04', 'M')

In [28]:
q2 = pd.Period("2018Q2",freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [30]:
q2-q

In [33]:
idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [34]:
idx = pd.period_range('2011','2017',freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [35]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [36]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [39]:
idx = pd.period_range('2011',periods = 10,freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [40]:
import numpy as np

In [41]:
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q4    2.549518
2012Q1   -1.358531
2012Q2    0.658053
2012Q3    0.520023
2012Q4    1.037827
2013Q1    1.804550
2013Q2    0.373103
2013Q3    0.377025
2013Q4   -2.336782
2014Q1   -1.138131
Freq: Q-JAN, dtype: float64

In [42]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [43]:
ps['2011']

2011Q4    2.549518
2012Q1   -1.358531
2012Q2    0.658053
2012Q3    0.520023
2012Q4    1.037827
Freq: Q-JAN, dtype: float64

In [44]:
ps['2011' : '2015']

2011Q4    2.549518
2012Q1   -1.358531
2012Q2    0.658053
2012Q3    0.520023
2012Q4    1.037827
2013Q1    1.804550
2013Q2    0.373103
2013Q3    0.377025
2013Q4   -2.336782
2014Q1   -1.138131
Freq: Q-JAN, dtype: float64

In [45]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [46]:
pst = ps.to_timestamp()
pst

2010-11-01    2.549518
2011-02-01   -1.358531
2011-05-01    0.658053
2011-08-01    0.520023
2011-11-01    1.037827
2012-02-01    1.804550
2012-05-01    0.373103
2012-08-01    0.377025
2012-11-01   -2.336782
2013-02-01   -1.138131
Freq: QS-NOV, dtype: float64

In [47]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [48]:
pst.to_period()

2010Q4    2.549518
2011Q1   -1.358531
2011Q2    0.658053
2011Q3    0.520023
2011Q4    1.037827
2012Q1    1.804550
2012Q2    0.373103
2012Q3    0.377025
2012Q4   -2.336782
2013Q1   -1.138131
Freq: Q-DEC, dtype: float64

In [49]:
import pandas as pd

In [56]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [57]:
df.set_index('Line Item',inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [58]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [59]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [60]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [62]:
df['start date'] = df.index.map(lambda x : x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [66]:
df['end date'] = df.index.map(lambda x : x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999